<nav class="navbar navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand mb-0 h1" href="{% url 'index' %}">
      MediaHub
    </a>
    <span class="navbar-text ms-3 d-flex align-items-center">
      {% if breadcrumb_path %}
        <a id="back-btn" 
           class="text-decoration-none text-white d-flex align-items-center me-2"
           {% if parent_id %} data-parent-id="{{ parent_id }}"{% endif %}>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left-square-fill text-secondary" viewBox="0 0 16 16">
            <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1"/>
          </svg>
        </a>
        <span class="ms-3">{{ breadcrumb_path }}</span>
      {% else %}
        /
      {% endif %}
    </span>
    <div class="d-flex ms-auto">
      {% if progress != None %}
      <button class="btn btn-outline-secondary btn-sm me-2" id="set-poster-btn">Set Poster</button>
      {% endif %}
      <button class="btn btn-outline-warning btn-sm me-2" id="refresh-btn">Refresh</a>
      
      {% if not show_hidden and pin_required %}
        <!-- Button that triggers modal -->
        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#pinModal">
          🔒
        </button>

      {% elif show_hidden %}
        <!-- Direct hide form -->
        <form action="/hide_hidden/" method="post" style="display:inline;">
          {% csrf_token %}
          <button class="btn btn-success btn-sm" type="submit">🔓</button>
        </form>
      {% endif %}

    </div>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="pinModal" tabindex="-1" aria-labelledby="pinModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-3 shadow">
      <div class="modal-header">
        <h5 class="modal-title" id="pinModalLabel">Enter PIN</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class="d-flex" action="/show_hidden/" method="post">
        {% csrf_token %}
        <div class="modal-body">
          <input id="childlock-input" class="form-control" type="password" name="code" maxlength="4" placeholder="PIN" autofocus>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button class="btn btn-danger" type="submit">Unlock</button>
        </div>
      </form>
    </div>
  </div>
</div>